.country-filter {
  width: fit-content;
  box-shadow: 0 2px 15px rgba(0, 0, 0, 0.08);
  position: relative;
  z-index: 99;

  button {
    padding: 1.5rem 3rem;
    font-size: 1.4rem;
    border-radius: 0.5rem;
    color: $text;
    background-color: $secondary-bg;

    & .arrow_down-icon {
      width: 2.4rem;
      aspect-ratio: 1;
      margin: auto -0.8rem -0.8rem 3rem;
    }
  }

  ul {
    width: 100%;
    display: none;
    position: absolute;
    margin-top: 0.5rem;
    border-radius: 0.5rem;
    background-color: $secondary-bg;
    box-shadow: 0 2px 15px rgba(0, 0, 0, 0.08);
    overflow: hidden;
    &[data-visible="true"] {
      display: block;
    }

    li {
      padding: 0.5rem 3rem;
      width: 100%;
      color: $text;
      cursor: pointer;

      &:hover {
        background-color: $hover;
      }
    }
  }
}
