.header {
  background-color: $secondary-bg;
  box-shadow: 0 2px 15px rgba(0, 0, 0, 0.08);

  .wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2.8rem 2rem;
    max-width: 1568px;
    margin: 0 auto;

    h1 {
      font-size: 1.6rem;
      @include mq(small) {
        font-size: 2.6rem;
      }
    }
  }
}
